@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");





form {

    font-family: 'Poppins', sans-serif;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.inline-label {
    display: inline;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
